$border-color: rgba(0, 0, 0, 0.06);

.min-modal {
    .el-dialog__header {
        padding: 16px 24px;
        color: #000000d9;
        background: #fff;
        border-bottom: 1px solid $border-color;
        margin: 0;
    }
    .el-dialog__title {
        font-size: 16px;
    }
    .el-dialog__headerbtn {
        top: 4px;
    }
    .el-dialog__body {
        padding: 0;
    }
    .el-dialog__footer {
        padding: 0;
    }
    &__content {
        padding: 20px 24px;
    }
    &__footer {
        padding: 10px 16px;
        text-align: right;
        background: 0 0;
        border-top: 1px solid $border-color;
        .el-button {
            border-radius: 2px;
        }
    }
}
