# dependencies
node_modules

dist
docs-dist
lib
es

# misc
npm-debug.log*

*.lock
pnpm-lock.yaml

#cache
.cache
.docz
.umi
.docs

.DS_Store    

packages/minnie-vue-resolver/index.js
packages/minnie-vue-resolver/index.d.ts
